.card-style {
    -fx-background-color: rgba(255,255,179,0.65);
    -fx-background-radius: 6px;
    -fx-border-color: gray;
    -fx-border-width: 1px;
    -fx-border-radius: 6px;
    -fx-padding: 10px 20px 10px 20px;
}

.bear-style{
    -fx-background-image: url(./Hewan/bear.png);
    -fx-background-size: 70% 70%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center top;
}

.chicken-style{
    -fx-background-image: url(./Hewan/chicken.png);
    -fx-background-size: 70% 70%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center top;
}

.cow-style{
    -fx-background-image: url(./Hewan/cow.png);
    -fx-background-size: 70% 70%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center top;
}

.hiu-darat-style{
    -fx-background-image: url(./Hewan/hiu_darat.png);
    -fx-background-size: 70% 70%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center top;
}

.horse-style{
    -fx-background-image: url(./Hewan/horse.png);
    -fx-background-size: 70% 70%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center top;
}

.sheep-style{
    -fx-background-image: url(./Hewan/sheep.png);
    -fx-background-size: 70% 70%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center top;
}

.accelerate-style{
    -fx-background-image: url(./Item/Accelerate.png);
    -fx-background-size: 70% 70%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center top;
}

.bear-trap-style{
    -fx-background-image: url(./Item/bear_trap.png);
    -fx-background-size: 70% 70%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center top;
}

.delay-style{
    -fx-background-image: url(./Item/Delay.png);
    -fx-background-size: 70% 70%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center top;
}

.destroy-style{
    -fx-background-image: url(./Item/Destroy.png);
    -fx-background-size: 70% 70%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center top;
}

.instant-harvest-style{
    -fx-background-image: url(./Item/Instant_Harvest.png);
    -fx-background-size: 70% 70%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center top;
}

.protect-style{
    -fx-background-image: url(./Item/Protect.png);
    -fx-background-size: 70% 70%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center top;
}

.corn-style{
    -fx-background-image: url(./Produk/corn.png);
    -fx-background-size: 70% 70%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center top;
}

.daging-beruang-style{
    -fx-background-image: url(./Produk/Daging_Beruang.png);
    -fx-background-size: 70% 70%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center top;
}


.daging-domba-style{
    -fx-background-image: url(./Produk/Daging_Domba.png);
    -fx-background-size: 70% 70%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center top;
}


.Daging_Kuda-style{
    -fx-background-image: url(./Produk/Daging_Kuda.png);
    -fx-background-size: 70% 70%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center top;
}

.pumpkin-style{
    -fx-background-image: url(./Produk/pumpkin.png);
    -fx-background-size: 70% 70%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center top;
}

.shark-fin-style{
    -fx-background-image: url(./Produk/shark-fin.png);
    -fx-background-size: 70% 70%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center top;
}

.strawberry-style{
    -fx-background-image: url(./Produk/strawberry.png);
    -fx-background-size: 70% 70%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center top;
}

.susu-style{
    -fx-background-image: url(./Produk/susu.png);
    -fx-background-size: 70% 70%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center top;
}

.telur-style{
    -fx-background-image: url(./Produk/telur.png);
    -fx-background-size: 70% 70%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center top;
}

.corn-seeds-style{
    -fx-background-image: url(./Tanaman/corn_seeds.png);
    -fx-background-size: 70% 70%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center top;
}

.pumpkin-seeds-style{
    -fx-background-image: url(./Tanaman/pumpkin_seeds.png);
    -fx-background-size: 70% 70%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center top;
}

.strawberry-seeds-style{
    -fx-background-image: url(./Tanaman/strawberry_seeds.png);
    -fx-background-size: 70% 70%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center top;
}

.button-style {
    -fx-background-color: lightgray;
    -fx-border-color: gray;
    -fx-border-width: 2px;
    -fx-border-radius: 3px;
    -fx-padding: 10px 20px;
    -fx-font-size: 14px;
}

.button-highlight-style {
    -fx-background-color: lightcyan;
    -fx-background-radius: 3px;
    -fx-border-color: gray;
    -fx-border-width: 2px;
    -fx-border-radius: 3px;
    -fx-padding: 10px 20px;
    -fx-font-size: 14px;
}

.button-click-highlight-style {
    -fx-background-color: cyan;
    -fx-background-radius: 3px;
    -fx-border-color: gray;
    -fx-border-width: 2px;
    -fx-border-radius: 3px;
    -fx-padding: 10px 20px;
    -fx-font-size: 14px;
}

.container-style {
    /*-fx-background-color: #B9B9B9;*/
    -fx-background-radius: 2px;
    -fx-border-radius: 2px;
}

.clock-style{
    -fx-background-color: #CECECE;
    -fx-background-radius: 60px;
    -fx-border-color: gray;
    -fx-border-width: 2px;
    -fx-border-radius: 60px;
}

.label-style{
    -fx-font-size: 14px;
    -fx-font-family: "JetBrains Mono";
}

.encompassing-style{
    -fx-background-image: url('./backgroundField1.png');
}